h1 {
    font-family: var(--messy-font);
}

/* Navigation */
/* ------------------------------------------------------------------------- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg-color);
    font-weight: 300;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#logo {
    height: 70%;
    margin-right: 20px;
}

nav a {
    text-transform: capitalize;
    padding: 20px;
}

/* Page specific styles */
/* ------------------------------------------------------------------------- */
section:nth-of-type(1) {
    background: fixed url('../images/vintage-concrete.png') var(--off-white);
    margin-top: calc(var(--nav-height) - var(--standard-padding));
}

section:nth-of-type(1) h2 {
    margin-top: 20px;
}

section:nth-of-type(2) {
    background: var(--bg-color1);
    color: var(--white);
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
}

#me {
    height: 400px;
    border: 30px solid #fff;
    margin-right: 100px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .3);
    transform: rotate(-5deg);
    z-index: 0;
}

section:nth-of-type(3) {
    background: var(--bg-color2);
    padding: 50px 10px;
}

section:nth-of-type(3) h2 {
    color: var(--white);
}

#project-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

section:nth-of-type(4) {
    padding: 50px;
    background: fixed url('../images/linedpaper.png') #fff;
}

section:nth-of-type(4) ul {
    margin-top: 30px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 28px;
}

ol {
    margin-left: var(--standard-padding);
}

footer {
    color: var(--bg-color2);
    background-color: var(--dark-bg-color);
    padding: 30px;
    position: relative;
}

footer p, span {
    font-size: 20px;
    line-height: 30px;
}

#social-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px;
}

.highlight {
    display: none;
}

#social-icons a:hover .highlight {
    display: block;
}

#social-icons a:hover .social-icon {
    display: none;
}

.social-icon, .highlight {
    height: 70px;
}

.project-icon {
    margin: 20px;
    border-radius: 4px;
    height: 250px;
}

article {
    color: var(--white);
    max-width: 50%;
    line-height: 28px;
}

article a {
    color: var(--bg-color2);
    padding: 0;
}

article a:hover {
    color: var(--bg-color2);
    text-decoration: underline;
}

/* Standalone Classes */
/* ------------------------------------------------------------------------- */
.anchor {
    position: absolute;
    top: calc(var(--nav-height) * -1);
}

.horizontal-group, .vertical-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.vertical-group {
    flex-direction: column;
}
