/* Variables */
/* ------------------------------------------------------------------------- */
:root {
    --messy-font: 'Caveat', cursive;
    --secondary-font: 'Open Sans Condensed', sans-serif;
    --body-font: 'Open Sans', sans-serif;

    --white: #fff;
    --off-white: #ebe1cd;
    --dark-bg-color: #252525;
    --bg-color1: #639fab;
    --bg-color2: #1c5d99;
    --hover: #f46036;

    --nav-height: 70px;
    --standard-padding: 50px;
}

/* Main styles */
/* ------------------------------------------------------------------------- */
html, body {
    height: 100%;
}

body {
    color: var(--dark-bg-color);
    font-family: var(--body-font);
}

section {
    height: calc(100% - var(--nav-height) - var(--standard-padding));
    padding: var(--standard-padding);
    position: relative;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: var(--hover);
}

h1 {
    font-size: 100px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
    font-family: var(--secondary-font);
}
