:root {
  --font-primary: "Lato", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --color-body-background: #f8f9fb;
  --color-border: #4e5866;
  --color-text: #252525;
  --color-highlight: #f35d0c;
  --color-accent: #0c9cf5;

  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
}
